body {
  color: #ffffff;
  background-color: #121212;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  width: 94rem;
  background-color: #302f29;
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  background-color: #302f29;
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #9f9462;
  text-decoration: none;
}
